/*comentario em CSS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
box-sizing: border-box;
}



body {
margin: 0;
font-family: 'Montserrat', sans-serif;
background-color: #EFF5F5; /*cor de fundo*/
}



ul {
list-style: none; /*estilo de lista*/
font-weight: bold; /*intencidade da fonte*/
color: #b4079d;
}



a{
text-decoration: none;/*decoracao de texto*/
color: inherit;
}


/*h1{
color: #ca36ca;
font-size: 35px; - tamanho da fonte
}*/



p{
color: #6b0c3f;
}


button{
color: rgba(243, 64, 171, 0.986);
padding: 8px 13px; /*preenchimento*/
border-radius: 8px; /*raio da borda*/
border: 0; /*borda*/
font-weight: bold;
/*background: #6b0c3f;*/
font-family: 'Montserrat', sans-serif;
}


header{
background:no-repeat center/cover url(assets/montefuji.jpg); /*plano de fundo*/
height: calc(100vh - 150px); /*altura*/
}


header nav{ /*cabecalho de navegacao*/
display: flex; /*exibicao*/
justify-content: space-between;/*justificar conteudo*/
margin: auto 90px;
}


header nav p{
font-weight: bold;
}


header nav ul{
display: flex;
}


header nav ul li{
margin: 0 15px;
}


.header-content{  /*ponto no inicio pois é uma class*/
max-width: 400px; /*largura maxima*/
margin: 150px auto; 
text-align: center; /*alinhamento do texto*/
}


.header-content h1{
margin-bottom: 10px; /*margin inferior*/
font-size: 4rem; /*tamanho da fonte*/
}




.pacotes {
background: #FAD9E6; /*plano de fundo*/
padding: 15px; /*preenchimento*/
}


.pacotes .pacotes-cards {
display: flex; /*exibicao*/
margin: auto;
max-width: 950px;
flex-wrap: wrap; 
justify-content: center;
}
.pacotes .pacotes-title {
width: 100%; /*largura*/
text-align: center;
font-size: 30px;
color: #000000;
margin: 25px 0;
}
.pacotes .card {
width: 250px;
height: 350px;
background: rgb(255, 255, 255);
margin: 25px;
position: relative;
border-radius: 24px 0;
}


.pacotes .card-image {
width: 250px;
height: 200px;
border-radius: 24px 0 0 0;
object-fit: cover;
}


.pacotes .cards-content {
padding: 0.6px;
}


.pacotes .card-content ul {
display: flex;
flex-direction: column;
padding: 0;
}


.pacotes .card-content ul li {
font-size: 1rem;
display: flex;
align-items: center;
margin: 3px;
color: rgb(0, 0, 0);
font-weight: bold;
}


.pacotes .card-content li svg {
width: 16px;
height: 16px;
margin-right: 15px;
}


.pacotes .card-content h1 {
  font-size: 1rem;
}


.pacotes .card .card-tag-top {
  position: absolute;
  right: 0; /*direita*/
  top: 14px; /*suerior*/
  background: #FAD9E6;
  border-radius: 8px 0 0 8px;
  padding: 5px 10px;
}


.pacotes .card .card-tag-bottom {
  position: absolute;
  left: 0; /*esquerda*/
  top: 160px;
  background: #FAD9E6;
  border-radius: 0 8px 8px 0;
  padding: 5px 10px;
}


.pacotes .card .card-tag p {
  margin: 0;
  font-size: 0.8rem;
  color: #000000;
  font-weight: bold;
}


.servicos {
  padding: 15px;
}


.servicos .servicos-tittle {
  text-align: center;
  margin: 35px 0;
}


.servicos .servicos-cards {
  margin-top: 25px;
  display: flex;
  max-width: 950px;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}



.servicos .card {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}


.servicos .card svg {
  width: 60px;
  height: 60px;
  margin: 50px;
  transition: all 1s;
}


.servicos .card svg:hover {
  stroke: #FAD9E6;
  transform: scale(1.1);
}




.servicos .card h3 {
  font-weight: bold;
}




.servicos .card p {
  color: #000000;
  font-size: 1rem;
  text-align: center;
}




.servicos .card .card-content {
  height: 180px;
  text-align: center;
}


.contato {
  padding: 60px;
  background: #FAD9E6;
  position: relative;
  text-align: right;
}


.contato .contato-card {
  width: 350px;
  height: 300px;
  background: #FAD9E6;
  position: absolute;
  z-index: 99; /*indice*/
  border-radius: 8px;
  top: calc(50% - 150px); /*topo*/
  left: calc(20% - 175px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.contato.contato-card h1 {
  padding-left: 50px;
  text-align: left;
}


.contato .contato-card li {
  font-size: .8rem;
  font-weight: bold;
  color: #b4079d;
  display: flex;
  align-items: center;
}

